/* This bit should make the page work well on different devices
 * http://css-tricks.com/using-flexbox/
 */



.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    background-color: red;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    background-color: yellow;
  }
}

footer {
    background-color: grey;
}


